html,
body {
    height: 100%;
    background: #fff;
    font-family: "Arial MT";
}

.header {
    min-height: 40px;
    padding: 10px 20px;
    background-color: #f2f2f2;
}

.header .button {
    float: right;
    width: 120px;
}

.button {
    height: 40px;
    width: 250px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(69, 69, 69);
    border: none;
    border-radius 3px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    border-radius: 1px;
    transition: 0.2s;
}

.button:hover {
    outline: none;
    background-color: rgb(69, 69, 69, .8);

}

.button:active {
    outline: none;
    background-color: rgb(69, 69, 69);
}

.main {
    padding: 20px;
    border-top: solid 2px rgb(69, 69, 69);;
    border-bottom: solid 2px rgb(69, 69, 69);;
}

.goods-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.goods-item {
    background-color: #f2f2f2;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    min-height: 250px;
    width: 250px;
    text-align: center;
    padding: 20px;
    margin: 15px 25px;
}

.goods-item-heading {
    font-weight: 700;
    font-size: 40px;
    color: rgb(35, 35, 35);
}

.goods-item-text {
    font-size: 22px;
    margin-bottom: 15px;
}

.item-image {
    border-radius: 3px;
    display: inline-block;
    margin: 15px 0;
}
